@CHARSET "UTF-8";

#kani_tbl thead tr th:nth-of-type(2) {
	color:#b44801;
}
#kani_tbl thead tr th:nth-of-type(3) {
	color:#b44801;
}

#kani_tbl tbody tr td:nth-of-type(2) {
	color:#eb6101;
	font-weight:bold;
}
#kani_tbl tbody tr td:nth-of-type(3) {
	color:#eb6101;
	font-weight:bold;
}


/* 新レコード確認  */
#check_new_record{
	display:none;
	padding:10px;
	border:solid 4px #cbf5e1;
	margin-bottom:10px;
	border-radius:10px;
}

#check_new_record_summary{
	color:#dd5044;
	
}


/* ワーカースレッド */
#wt_nomarl{
	color:#3f7f7f;
	font-size:0.9em;
}

#wt_counter{
	color:#9b8dd1;
}

#wt_error{
	color:#fa5556;
	display:none;
}

#wt_error2{
	color:#ff0033;
}

#wt_debug{
	color:#a094a3;
}

#wt_log{
	color:#a094a3;
}